@use '../../scss/' as *;

.list {
    padding: 0 50px;

    .card {
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: scale(1.1);
    }
}

.swiper-slide {
    width: 250px
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    padding: 50px;
    background-color: #4caf50;
    color: white;
    border-radius: 50%;
    width: 0px;
    height: 40px;
    font-weight: bold;
    top: 170px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: orange;
}