@use "../../scss/" as *;

button {
    cursor: pointer;
    font-family: $font-family;
}

.btn {
    padding: 8px 29px;
    border-radius: 10px;
    border: 3px solid transparent;
    font-size: 24px;
    font-weight: 600;
    background-color: $main-color;
    color: white;
    box-shadow: 0px 0px 7px 8px #23d18b43;
    transition: all 0.3s ease;
    
    &:hover {
        background-color: white;
        color: $main-color;
        box-shadow: 0px 0px 7px 17px #ffffff43;
    }
    
    // &.small {
    //     padding: 4px 24px;
    //     border-width: 2px;
    // }
}

.btn-outline {
    border: 3px solid white;
    background-color: transparent;
    color: white;
    box-shadow: none;
    
    &:hover {
        background-color: white;
        color: $main-color;
        box-shadow: none;
    }
}
