.casts {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    margin: 32px 0;
}

.cast-card {
    &__image {
        padding-top: 180px;
        background-size: cover;
        background-position: center;
        margin-bottom: 9px;
        border-radius: 8px;
    }

    &__info {
        padding: 0 8px;
        font-size: 13px;

        &__name {
            font-weight: bold;
            color: white;
            margin-bottom: 4px;
        }

        &__character {
            color: #9e9e9e;
            
            span {
                font-weight: bold;
            }
        }
    }
}