@use '../../scss/' as *;

.card {
    background: no-repeat;
    background-position: top;
    background-size: contain;
    padding-top: 385px;
    position: relative;

    Button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.4s ease, box-shadow 0.4s ease;
    }

    &::before {
        content: '';
        position: absolute;
        @include overlay();
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    &:hover::before{
        opacity: 1;
    }

    &:hover Button {
        transform: translate(-50%, -50%) scale(1);
    }
}