@use "../../scss/" as *;

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        padding: 32px;
        background-color: $body-background;
        width: fit-content;
        opacity: 0;
        transform: translateY(-270px);
        transition: transform 0.7s ease, opacity 0.7s ease;
        position: relative;
        border-radius: 10px;
    }

    &.active &__content {
        opacity: 1;
        transform: translateY(0);
    }
}
