@use "../../scss/" as *;

#logo {
    color: red;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    @include flex(center, unset);
    

    img {
        margin-right: 10px;
        width: 50px;
    }
}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.511);

    &__wrap {
        @include flex(center, space-between);
        padding: 0 35px;
        height: 100%
    }

    &__navigation {
        @include flex(center, space-between);
        width: 490px;
        margin-right: 20px;

        li {
            font-weight: 600;
            position: relative;
            font-size: 20px;

            &::after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                background-color: $main-color;
                transition: width 0.5s ease;
            }

            &.active::after,
            &:hover::after {
                width: 100%;
            }
        }
    }
}