@use "../../scss/" as *;

.carousel {
    margin-bottom: 48px;

    .trailer {
        padding: 0;

        margin: 0 auto;

        .trailer__title {
            display: none;
        }

        iframe {
            width: 950px;
            height: 657px;
        }
    }

    Modal {
        width: fit-content;
    }

}

.carousel__item {
    position: relative;
    padding: 144px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-background, rgba(0, 0, 0, 0));
    }

    &__content {
        display: flex;
        position: relative;

        &__poster {
            flex: 1;
            @include flex(center, center);
            position: relative;
            margin-left: 32px;

            img {
                width: 450px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                transform: scale(0);
                transition: transform 0.7s ease;
            }

        }

        &__info {
            width: 55%;
            padding: 0 48px;
            position: relative;
            margin-right: 48px;
            margin-top: 56px;

            .title {
                font-size: 72px;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 32px;
            }

            .genres {
                margin-bottom: 32px;

                &__item {
                    padding: 10px 25px;
                    border: 2px solid white;
                    border-radius: 15px;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: rgb(37, 37, 37);
                    margin-left: 10px;
                }
            }

            .description {
                font-weight: 600;
                margin-bottom: 32px;
                font-size: 20px;
                text-align: justify;
            }

            Button {
                margin-right: 24px;

                .fa-circle-play {
                    margin-right: 5px;
                    padding-top: 3px;
                    left: 14px;
                    position: absolute;
                }
            }

            .watch-btn {
                padding-left: 45px;
            }

            .btns,
            .title,
            .description,
            .genres {
                opacity: 0;
                transform: translateY(-100px);
                transition: transform 0.5s ease, opacity 0.5s ease;
            }
        }


    }

    &.active>&__content>&__content__poster {
        img {
            transform: scale(1);
        }
    }

    &.active>&__content>&__content__info {

        .btns,
        .title,
        .description,
        .genres {
            transform: translateY(0);
            opacity: 1;
        }

        .title {
            transition-delay: 0.2s, 0.2s;
        }

        .genres {
            transition-delay: 0.4s, 0.4s;
        }

        .description {
            transition-delay: 0.6s, 0.6s;
        }

        .btns {
            transition-delay: 0.8s, 0.8s;
        }
    }
}

.movieTitle {
    color: $main-color
}