@use '../../scss' as *;

.movie-banner {
    height: 70vh;
    position: relative;
    background-position: center;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        height: 120px;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(to top, $body-background, rgba(241, 30, 30, 0));
    }
}

.detail-content {
    position: relative;
    top: -200px;
}

.content {
    position: relative;
    display: flex;
    max-width: 1450px;
    margin: -190px auto 0;
    padding: 0 30px;

    &__poster {
        width: 30%;

        &__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 35px;
            padding-top: 650px;
        }
    }

    &__info {
        position: relative;
        width: 70%;
        padding-left: 30px;

        .title {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 32px;
        }

        .genres {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 32px;

            &__item {
                color: #fff;
                background: rgba(255, 255, 255, 0.1);
                padding: 8px 16px;
                border-radius: 20px;
                font-size: 18px;
                font-weight: 600;
                border: 2px solid rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
            }
        }

        .movie-info {
            background-color: rgba(0, 0, 0, 0.45);
            padding: 20px;
            border-radius: $border-radius;
            
            .info-item {
                display: grid;
                grid-template-columns: 0.24fr 1fr;
                margin-bottom: 12px;
                font-size: 18px;
                
                .label {
                    color: white;
                    margin-right: 8px;
                    font-weight: bold;
                    min-width: 120px;
                }
        
                .value {
                    color: $main-color;
                    font-weight: 500;
                }
            }
        }

        .overview {
            margin-bottom: 32px;
            margin-top: 18px;
            font-size: 18px;
            line-height: 1.6;
        }

        .action-buttons {
            display: flex;
            gap: 16px;
            margin-bottom: 32px;

            .small-btn {
                font-size: 21px;
            }

            i {
                margin-right: 8px;
            }
        }
    }
}

.movieTitle {
    color: $main-color;
    font-weight: bold;
}

.trailer-container {
    padding: 0 30px;
    margin-bottom: 20px;
    .trailer {
        margin-bottom: 50px;
    }
}
